/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css'); */

/* Gallery */
ul{
   list-style: none;
}
a{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
a:hover {
  color: #535bf2;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  width: 1440px;
  justify-content: center;
  list-style: none;
  padding: 24px 156px;
  background: #fff;
}

.gallery-list {
  display: flex;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.1);
}
  .simple-lightbox{
    background: rgba(46, 47, 66, 0.8)
  }

/* Form */

body {
  
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.feedback-form {
    width: 408px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  border-radius: 8px;
    padding: 24px;
}

.feedback-form label {
  width: 360px;
  display: block;
  margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feedback-form input:hover{
  border: 1px solid #000;
}

.feedback-form input:active{
  border: 1px solid #808080;
}

.feedback-form button {
  display: block;
  width: 100%;
  cursor: pointer;
    border-radius: 8px;
      padding: 8px 16px;
      margin-top: 8px;
      width: 86px;
      height: 40px;
      background: #4e75ff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
}

.feedback-form button:hover {
  background: #6c8cff;
}

